// Colour Palette
$white:           #ffffff;
$black: 	      #000000;
$concrete:        #F3F3EE;
$mercury:         #E1E1E1;
$mineShaft:       #3b3b3b;
$mirage:          #1c2532;
$angaroa:         #031B44;
$brightTurquoise: #10d8c9;
$cobalt:          #0049ae;

$japaneseLaurel:  #008D00;

// Slide/map colours
$keyLimePie:      #C3D029;
$hippieBlue:      #6299AF;
$mangoTango:      #EE7700;

// Sticky colours
$flushOrange:     #FF7300;
$robinsEggBlue:   #00D9CA;

// Primary Colours
$c1: $cobalt;
$c2: $brightTurquoise;
$bg1: $mirage;
$bg2: $concrete;
$bg3: $angaroa; //NEW!